// Mixins in here


.buttonParametric() {
    border: @myBorder;
 	border-radius:@largeFontSize;
    font-size: @largeFontSize;
    padding: @mediumPadding;
    width:100%;
    background-color: @eastern-blue;
    text-align: center;
    color: @white;
     
}





// button {
// 	width: 30%;
// 	border-radius: 1rem;
// 	cursor: pointer;
// 	font-size: @mediumFontSize;
// 	padding: 1rem;
// 	border: @myborder;
// 	background:@primaryColor linear-gradient(@forthColor, @fifthColor);
// 	color: @white;

// }
